# Ignore node_modules (this will be installed inside the container)
node_modules

# Ignore npm-debug files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore local development environment files
.env
.DS_Store

# Ignore build output (if you're using TypeScript)
dist

# Ignore Docker-specific files
docker-compose.yml
Dockerfile

# Ignore logs
logs
*.log